<h1>Editing Pet</h1>

<%= render 'form' %><br>
<div style="text-align: center;margin-left: auto;margin-right: auto">
<%= link_to 'Show', @pet, :class=> 'btn btn-primary' %>
<%= link_to 'Back', pets_path, :class=> 'btn btn-primary' %>
</div>