<h1>New Doctor</h1>
<div class="container">
<%= render 'form' %>
<br>
<div style="text-align: center;margin-left: auto;margin-right: auto">
<%= link_to 'Back', doctors_path,  :class=> 'btn btn-primary' %>

</div>

</div>