<h1>Editing Appointment</h1>

<%= render 'form' %>

  <div style="text-align: center;margin-left: auto;margin-right: auto"><br>
<%= link_to 'Show', @appointment, class: 'btn btn-primary' %>
<%= link_to 'Back', appointments_path, class: 'btn btn-primary' %>
</div>